
@{
    ViewBag.Title = "PageNotFound";
}

<div id="notfoundWallpaper">
    <div class="row">
        <div class="white-text">
            <div class="col s12 l4 offset-l2" style="margin-top: 150px;">
                <div>
                    <h1>404 NOT FOUND!!</h1>
                    <button class="btn black white-text">@Html.ActionLink("Go to Search", "Index", "Home") </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // jQuery code
    $(document).ready(function () {
        $('#navbarNica').removeClass('transparent');
        $('#navbarNica').addClass('black');
    });
</script>