
@{
    ViewBag.Title = "PageNotFound";
}

<div>
    <div class="row" style="margin-top:120px">
        <h1>Not Found</h1>
        <p class="zoom-area"><b>CSS</b> </p>
        <section class="error-container">
            <span class="four"><span class="screen-reader-text">4</span></span>
            <span class="zero"><span class="screen-reader-text">0</span></span>
            <span class="four"><span class="screen-reader-text">4</span></span>
        </section>
    </div>
</div>

<script>
    // jQuery code
    $(document).ready(function () {
        $('#navbarNica').removeClass('transparent');
        $('#navbarNica').addClass('black');
    });
</script>